@import "tailwindcss";

@theme {
  --color-text: light-dark(#11160e, #ecf1e9);
  --color-background: light-dark(#fafbf9, #050604);
  --color-primary: light-dark(#7c9c6d, #729263);
  --color-secondary: light-dark(#a7c3b6, #3c584b);
  --color-accent: light-dark(#8fb3ae, #4c706b);
}

[data-theme="light"] {
  color-scheme: light;
}


[data-theme="dark"] {
  color-scheme: dark;
}
